<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression" >
 
  <test name="Enter time off details for employee">
  	<parameter name="browser"  value="Chrome"/>
    <classes>
      <class name="com.orasi.BluesourceTest.tests.TestAddNewDept">
	  </class>   
    </classes>
  </test> 
</suite> 
