<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Regression">
	<listeners>
	   <listener class-name="com.orasi.BluesourceTest.core.CustomTestListeners" />	   
	</listeners> 
	<test name="Enter time off details for employee">
		<parameter name="browser" value="Chrome" />
		<classes>
			<class name="com.orasi.BluesourceTest.tests.TestAddNewTitle">
			</class>
		</classes>
	</test>
</suite> 
